# Arquivos Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Chaves sensíveis
*.pem
*.key

# Arquivos de log e cache
*.log
*.swp
*.swo

# Bytecode Python
__pycache__/
*.pyc

# Docker
*.env
.envrc
.env.local

# VSCode
.vscode/

# Arquivos gerados por sistema
.DS_Store
Thumbs.db

# Instaladores e pacotes
AWSCLIV2.pkg

# Opção: outputs de debug
outputs.tf.json

.venv/
